html {
  font-family: "Rubik", sans-serif;
  /* cursor: default; */
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  /* padding: auto; */

  height: 100vh;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 1rem;
  user-select: none;
}

button {
  margin: 0 auto;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  /* transition-delay: 0.3s; */
}

button#score div {
  font-size: 1.25rem;
}

button:not(#end-exit-button) {
  font-size: 1.5rem;
  display: inline-block;

  min-width: 175px;
  height: 45px;
}

#navigation {
  display: flex;
  justify-content: center;
}

#end-exit-button {
  height: 25px;
  width: 25px;
  position: absolute;

  top: 10px;
  right: 10px;
}

.wrapper {
  background-image: linear-gradient(-25deg, #023047 0%, #2a9d8f 100%);

  width: auto;
  height: 100%;

  padding: 50px;
  margin: 0;

  display: flex;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;

  background-color: ghostwhite;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);

  position: relative;
}

.container.active > div:not(.end-container) {
  filter: blur(3px);
  transition-duration: 0.4s;
}

.container.active .end-container {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.2s;
}

.container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(22, 22, 22, 0.35);
  border-radius: 12px;
  transition: all 0.4s;
}

.head-container {
  /* max-width: calc((16px * 2) + 1080px); */
}

.body-container {
  position: relative;
}

.game-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

.end-container {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  padding-top: 20%;
  padding-bottom: 20%;

  opacity: 0;
  z-index: 3;

  pointer-events: none;
  transition: all 0.3s;
}

.end-textarea {
  background: ghostwhite;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.2);

  text-align: center;
  max-width: 50%;
  margin: auto;
  padding: 20px;

  position: relative;
}

.row {
  width: 100%;
  margin: auto;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.scene .card .card__face {
  border: none;
  border-radius: 10px;
}
.scene {
  display: inline-block;
  width: 15%;
  max-width: 150px;
  min-height: 110px;

  margin: 15px;

  perspective: 900px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgba(50, 50, 50, 0.2);
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  text-align: center;
  background: white;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
